Source: kodi-game-libretro-gearboy
Priority: extra
Maintainer: wsnipex <wsnipex@a1.net>
Build-Depends: debhelper (>= 9.0.0),
               cmake,
               kodi-addon-dev,
               libretro-gearboy (>= 0.0.1) | gearboy (>= 0.0.1)
Standards-Version: 3.9.8
Section: libs

Package: kodi-game-libretro-gearboy
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, kodi, kodi-game-libretro
Enhances: kodi
Description: Nintendo - Game Boy / Color (Gearboy) core for kodi's retroplayer
 Nintendo - Game Boy / Color (Gearboy) core for kodi's retroplayer
